#BACKEND
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
CORS_ORIGIN=http://localhost:3001
CRON_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4500
POLAR_LEARNSUP=
POLAR_ACCESS_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SEND_EMAILS=

#Daily.co
DAILY_API_KEY=
DAILY_DOMAIN=
DAILY_WEBHOOK_SECRET=

#Cloudinary API keys
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT_BACKEND=4500
HOSTNAME_BACKEND=0.0.0.0

# FRONTEND
FRONTEND_URL=http://localhost:3001
NEXT_PUBLIC_SERVER_URL=http://localhost:4500
NEXT_PUBLIC_SOCKET_URL=http://localhost:4500
BACKEND_URL=http://localhost:4500
