#BACKEND
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
CORS_ORIGIN=
CRON_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
POLAR_LEARNSUP=
POLAR_ACCESS_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SEND_EMAILS=

#Daily.co
DAILY_API_KEY=
DAILY_DOMAIN=
DAILY_WEBHOOK_SECRET=

#Cloudinary API keys
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT_BACKEND=
HOSTNAME_BACKEND=

# Application URLs
FRONTEND_URL=
NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_SOCKET_URL=
BACKEND_URL=
