# Backend API & server
CORS_ORIGIN=
CRON_SECRET=
# Database
# Example: postgresql://user:password@host:port/dbname?sslmode=verify-full
# Note: Use sslmode=verify-full to ensure secure connection and avoid deprecation warnings.
DATABASE_URL=
#Better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Monitoring de loggings & erreurs
# Sentry
NEXT_PUBLIC_SENTRY_DSN=

#external services
# # Stripe
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
#Daily.co
DAILY_API_KEY=
DAILY_API_BASE_URL=
#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=